<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-4">
        <div class="col-8 offset-2 cont">
            <h3><b>Edit Listing</b></h3>
            <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="ab-3">
                    <label for="title" class="form-label">Title</label>
                    <input id="title" name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">please enter valid title</div>
                </div>

                <div class="ab-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="listing[description]" class="form-control" required> <%= listing.description %> </textarea>
                    <div class="invalid-feedback">please enter short description</div>
                </div>

                <div class="ab-3">
                    Original Image <br>
                    <img src="<%= originalImage %>" />
                </div>

                <div class="ab-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input name="listing[image]"  type="file" class="form-control" id="image">
                </div>
        
                <div class="row">
                    <div class="ab-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%= listing.price %>" class="form-control" id="price" required>
                        <div class="invalid-feedback">please enter valid price</div>
                    </div>

                    <div class="ab-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" id="country" required>
                        <div class="invalid-feedback">please enter valid Country name</div>
                    </div>
                </div>
        
                <div class="ab-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" id="location" required>
                    <div class="invalid-feedback">please enter valid location</div>
                </div>
                
                <div class="ab-3">
                    <div class="form-label">Select Filters</div>
                    <div class="input-group dropend">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select</button>
                        <ul class="dropdown-menu">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="mountains" name="listing[filters][]" <% if(listing.filters.includes("mountains")){ %> checked <% } %>>
                            <label class="form-check-label" for="inlineCheckbox1">Mountain</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="trending" name="listing[filters][]" <% if(listing.filters.includes("trending")){ %> checked <% } %>>
                            <label class="form-check-label" for="inlineCheckbox2">Trending</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="rooms" name="listing[filters][]" <% if(listing.filters.includes("rooms")){ %> checked <% } %>>
                            <label class="form-check-label" for="inlineCheckbox3">Room</label>
                        </div> 
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="iconic cities" name="listing[filters][]" <% if(listing.filters.includes("iconic cities")){ %> checked <% } %>>
                            <label class="form-check-label" for="inlineCheckbox4">Iconic City</label>
                        </div> 
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="arctic" name="listing[filters][]" <% if(listing.filters.includes("arctic")){ %> checked <% } %>>
                            <label class="form-check-label" for="inlineCheckbox5">Arctic</label>
                        </div> 
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="farms" name="listing[filters][]" <% if(listing.filters.includes("farms")){ %> checked <% } %>>
                            <label class="form-check-label" for="inlineCheckbox6">Farm</label>
                        </div> 
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="castles" name="listing[filters][]" <% if(listing.filters.includes("castles")){ %> checked <% } %>>
                            <label class="form-check-label" for="inlineCheckbox7">Castle</label>
                        </div> 
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="deserts" name="listing[filters][]" <% if(listing.filters.includes("deserts")){ %> checked <% } %>>
                            <label class="form-check-label" for="inlineCheckbox8">Desert</label>
                        </div> 
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="camping" name="listing[filters][]" <% if(listing.filters.includes("camping")){ %> checked <% } %>>
                            <label class="form-check-label" for="inlineCheckbox9">Camping</label>
                        </div> 
                        <div class="invalid-feedback">please select filter</div>                   
                        </ul>
                    </div>
                <button class="btn btn-dark edit-btn mt-4 mb-5">Edit</button>
                <br><br>
            </form>
        </div>
    </div>
</body>
